<h1>Animals</h1>
<ul>
  <li>
    <a href="/animals/new">Add new animal</a>
</li>
</ul>
<table>
  <tr>
    <th>Name:</th>
    <th></th>
    <th>Type:</th>
    <th></th>
    <th>Breed:</th>
    <th></th>
    <th>Bio:</th>
    <th></th>
    <th>Ready for adoption?</th>
    <th></th>
    <th>Adopted?</th>
    <th></th>
    <th>Adoption Date:</th>
    <th></th>
    <th>Admission Date:</th>
    <th></th>
    <th>Profile Picture:</th>
    <th></th>
</tr>
<% for animal in @animals %>
<tr>
    <td><%= animal.name %></td>
    <td>|</td>
    <td><%= animal.type %></td>
    <td>|</td>
    <td><%= animal.breed %></td>
    <td>|</td>
    <td><%= animal.bio %></td>
    <td>|</td>
    <td class = "bool"><%= animal.ready_for_adoption %></td>
    <td>|</td>
    <td class = "adopted"><%= animal.adopted %></td>
    <td>|</td>
    <td><%= animal.adoption_date %></td>
    <td>|</td>
    <td><%= animal.admission_date %></td>
    <td>|</td>
    <td><img src = "<%= animal.profile_picture %>"/></td>
    <td>|</td>
    <td>  <form action="/animals/<%= animal.id %>/edit" method="POST">
        <input class="btn" type="submit" value="edit" />
    </form></td>
    <td>|</td>
    <td>  <form action="/animals/<%= animal.id %>/delete" method="POST">
        <input class="btn" type="submit" value="delete" />
    </form></td>
    <td>|</td>
    <% end %>

</tr>

</table>
