<h1>Adoptions</h1>

<p>
  <a class="btn" href="/adoptions/new">New adoption</a>
</p>

<ul>
  <% for adoption in @adoptions %>
  <li>
  <p>Owner: <%= adoption.owner.name %></p>
  <img src= "<%= adoption.owner.profile_picture %>"/>
  <p>Adopted Animal: <%= adoption.animal.name %> </p>
  <img src= "<%= adoption.animal.profile_picture %>"/>
  <p> Adopted on: <%= adoption.adoption_date %></p>
    <p>
      <form action="/adoptions/<%= adoption.id %>/delete" method="POST">
        <input class="btn" type="submit" value="delete" />
      </form>
    </p>
  </li>
  <% end %>
</ul>