<h1 class= "page_header">Adoptions</h1>

<p class = "generic">
  Got animals you just can't shift? Click here to give an owner any animal, regardless of their preference! -
  <br/>
  <br/>
  <a class="sub_links" href="/adoptions/new">New forced adoption</a></p>
</p>


<div class = "adoptions">
  <% for adoption in @adoptions %>
  <p>Owner: <%= adoption.owner.name %>
  <img src= "<%= adoption.owner.profile_picture %>"/>
  Adopted Animal: <%= adoption.animal.name %>
  <img src= "<%= adoption.animal.profile_picture %>"/>
  Adopted on: <%= adoption.adoption_date %></p>
    <p>
      <form action="/adoptions/<%= adoption.id %>/delete" method="POST">
        <input class="btn" type="submit" value="delete" />
      </form>
    </p>
  <% end %>
</div>