<form method="post" action="/owners/<%= @owner.id %>">
  <label for="name">Name: </label>
  <input id="name" value = "<%= @owner.name %>" type="text" name="name"/>
  <br/>
  <br/>
  <label for="bio">Bio: </label>
  <input id="bio" value = "<%= @owner.bio %>" type="text" name="bio">
  <br/>
  <br/>
  <label for="capacity_for_animals">Capacity for animals: </label>
  <input id="capacity_for_animals" value = "<%= @owner.capacity_for_animals %>" type="number" name="capacity_for_animals"/>
  <br/>
  <br/>
  <label for="looking_for">Looking for... </label>
  <br/>
  <br/>
  <input id="looking_for1" type="checkbox" name="looking_for" value = "Dog" <%= "checked" if @owner.looking_for == "Dog" %>> Dog
  <input id="looking_for2" type="checkbox" name="looking_for" value = "Cat" <%= "checked" if @owner.looking_for == "Cat" %>> Cat
  <br/>
  <br/>
  <label for="profile_picture">Profile picture link: </label>
  <input id="profile_picture" value = "<%= @owner.profile_picture %>" type="text" name="profile_picture"/>
  <br/>
  <br/>
  <input type="submit" value="Update Owner"/>
</form>
